#box{width: 1200px; margin-left: 80px;}
		.rexiao>img{cursor: pointer;}
		#box .tide{width: 1200px; height:364px;display: flex; justify-content: space-between;}
		#box .tide .tide-left{width: 960px; display: flex; justify-content: space-around;}
		#box .tide .tide-left>div{ position: relative;}
		#box .tide .tide-left span {display:block;position: absolute; height: 42px; line-height: 42px; color: #797979; background: rgba(255,255,255,.6); width: 135px; bottom: 40px; right: 0; font-size: 16px; text-align: center;}
		/*#box .tide .tide-left>div:hover span{animation:aa linear 0.5s;}*/
		
		/*@keyframes aa{
			from{background:rgba(255,255,255,0.6);color: #797979;}
			to{background:rgba(0,0,0,0.4);color:#000}
		}*/
		#box .tide .tide-right{width:240px;float: right;}
			#box .tide .tide-right>a{float: left; width: 114px; height: 114px; margin: 0 6px 10px 0; position: relative;}
				#box .tide .tide-right>a>div{background: rgba(0,0,0,.3); display: none; position: absolute;z-index: 10; width: 114px; height: 114px; left: 0; top: 0;}
				#box .tide .tide-right>a>span {position: absolute; font-size: 14px;color: #fff; bottom: 5px; left: 20px;z-index: 20; }
				
				#box .meihuo>img:nth-child(2){cursor: pointer;}
		
		#box .new .new-main{ height: 665px; position: relative; overflow: hidden;}
		#box .new .new-main .new-imgs{width: 8295px;}
		#box .new .new-main .new-imgs>img{ float: left; width: 1185px;}
		#box .new .new-main .c-nav{width: 200px;height: 18px; position: absolute; bottom: 32px; right: 260px; z-index: 99; overflow: hidden;}
		#box .new .new-main .c-nav>li{width: 18px; height: 18px; margin-right: 10px; background: #ddd; border-radius: 50%; float: left; cursor: pointer;}
		#box .new .new-main #new-prev{position: absolute; left: 0px; top: 250px;display: block;width: 100px;height: 186px; background: url(../img/Black_l.png) no-repeat;opacity: .5;}
		#box .new .new-main #new-next{position: absolute; right: 0px; top: 250px; display: block; width: 100px;height: 186px; background: url(../img/Black_r.png) no-repeat;opacity: .5;}
		
		#box .hot-title{width: 1200px; height: 22px; line-height: 22px; display: flex; justify-content: center; margin: 5px;}
		#box .hot-title>li{width: 100px; height: 22px; border-right: 2px solid #000000; padding: 0 10px; font-size: 18px; text-align: center; font-weight: 800;cursor: pointer;}
		#box .hot-title>li:nth-child(5){border: none;}
		#box .hot-main{position: relative; cursor: pointer;}
		#box .hot-main>div{position: absolute;}
		
		#box .hot{position: relative; height: 970px; }
		#box .hot-list{width: 110px; height: 22px; position: absolute;left: 540px; top: 540px; overflow: hidden; z-index: 100;}
		#box .hot-list>li{width: 15px; height: 15px; float: left; margin-right: 5px; background: #aaa; border-radius: 50%;}
		
		#box .match .match-nav{width: 1200px; height: 36px; border-bottom: 1px solid #bbb; display: flex;}
		
		#box .match .match-nav>li{width: 400px; line-height: 36px; text-align: center; background: #fff; color: #666666;}
		#box .match .match-nav>li:nth-child(1){background: #e50163; color: #fff;}
		#box .match .match-nav>li:nth-child(2){margin: 0 4px;}
		#box .match .match-main{position: relative; height: 602px;}
		#box .match .match-main>img{position: absolute;}
		
		#box .brands .brands-nav{float: left; width: 110px; height: 533px; background: #fff;}
		#box .brands .brands-nav>li{height: 133px; text-align: center; line-height: 133px; font-size: 26px;border-bottom: 1px solid #ddd; cursor: pointer;}
		#box .brands .brands-main{position: relative; height: 533px; width: 1090px; left: 110px;}
		#box .brands .brands-main>img{ position: absolute; cursor: pointer;}
		
		
		#shop{width: 1200px; margin-left: 80px; min-height: 2920px;};
		#shop-main{width: 1200px;}
		#shop-main>li{float: left; margin-right: 10px;}
		#shop-main>li a img{width: 230px; height: 310px;}
		#shop-main>li a .title{width: 162px; height: 55px; float: left; color: #414141; padding: 10px 0;}
		#shop-main>li a .price{width: 68px; height: 55px; float: left; background: #E50163; text-align: center; line-height: 55px; font-size: 16px; font-weight: 800; color: #fff;}




















