	#header{width: 100%; padding: 0 80px; display: flex;}
	#header>a img{margin: 35px 0; height: 25px;}
	
	.header-box{margin: 35px 0; font-size: 12px; line-height: 16px;margin-left: 35px;}
	.header-box a{color: #000;}
	.header-box a:hover{color: #E50163;}
	.search{margin: 35px 0 35px 200px;}
	.search input{width: 466px; height: 30px; border: 2px solid #e50163;font-size: 14px;line-height: 24px; color: #aaa; }
	.search span a{width: 80px;display: inline-block; height: 31px; background: #e50163; text-align: center; line-height: 30px; font-size: 18px;  color: #fff;}
	
	#title{height: 100px; width: 100%; background: #1f1f1f;padding-top: 10px;}
	
	#nav {height: 70px; width: 100%; background: #eee; font-family: "宋体";margin-bottom: 30px;}
	#nav>ul{width: 1200px; margin: 0 auto; display: flex; justify-content: space-between;}
	#nav>ul>li{position: relative;}
	#nav>ul>li>span{position: absolute; background: #E50163; color: #fff;font-size: 14px; left: 10px; top: 20px;}
	#nav>ul>li>a{color: #333; width: 130px; height: 32px ;display: block; border-left: 1px solid #ccc; margin: 15px 0; text-align: center; line-height: 32px;}
	#nav>ul>li>a:hover{color: #f00;}

	#main{width: 1200px;height: 610px; margin: 20px auto; display: flex;}
	#main .box{width: 387px; height: 522px; border: 1px solid #ddd; position: relative;}
	#main .box .bigImgs{width: 385px; height: 520px; overflow: hidden; position: absolute; left: 386px; top: 0; display: none; z-index: 666;}
	#main .box .bigImgs>img{width: 770px; height: 1040px; position: absolute;}
	#main .box .smallImgs{position: relative;}
	#mask{width: 200px; height: 265px; background: rgba(250,250,250,.3); position: absolute; z-index: 666; left: 0; top: 0; display: none;}
	#main .content{margin-left: 30px; border-right: 1px solid #ccc; width: 590px; height: 525px; padding: 20px 10px;}
	#main .content>h2{font-weight: 100; padding: 10px 0;}
	#main #price{padding-left: 30px; height: 136px; line-height: 136px; color: #E50163;font-size: 20px; margin-bottom: 10px;background:url(../img/goods_price_bg.png) }
	#main #price>span{font-size: 45px;font-weight: 800;}
	#num,#color,#size{color:#666666; font-size: 12px;height: 40px; line-height: 40px; display: flex; margin-bottom: 20px;}
	#main .content p:hover{color: #E50163;}
	#color>p{width: 100px; height: 40px; background: #fff;border: 2px solid #ddd; color: #000000; line-height: 40px;text-align: center; margin-left: 10px; cursor: pointer;}
	#size>p{width: 50px; height: 30px; background: #fff;border: 2px solid #ddd; color: #000000; line-height: 30px;text-align: center; margin-left: 10px; cursor: pointer;}
	
	#shop,#tocar{width:205px; height: 50px; border: 1px solid #E50163; cursor: pointer;font-size: 20px; text-align: center;line-height: 50px;}
	#shop{color: #E50163;}
	#tocar{color: #fff;background: #E50163;}
	#content-btm{display: flex; width: 300px;justify-content: space-between;height: 16px; margin-top: 20px; font-size: 12px; color: #666;}
	#content-btm>span{display: block; padding-left: 18px;}
	#content-btm>span:nth-child(1){background: url(../img/1.png) no-repeat left center;}
	#content-btm>span:nth-child(2){background: url(../img/2.png) no-repeat left center;}
	#content-btm>span:nth-child(3){background: url(../img/3.png) no-repeat left center;}
	
	#main-right{width: 120px; padding:0 20px; font-size: 12px;color: #666;}
	#main-right>p{width: 120px; text-align: center; height: 20px; line-height: 20px; }
	#main-right dl dt{cursor: pointer;}
	#main-right dl dd{width: 120px; text-align: center;}

	#right{position: fixed; height:100%; width:38px; top: 0; right: 0; background: #000000; display: flex; flex-direction: column; justify-content: center; text-align: center; z-index: 9999;}
			#right .right-shopcar{ border-top: 1px solid #404040;border-bottom: 1px solid #404040; text-align: center; padding: 10px 10px; margin: 20px 0;}
				#right .right-shopcar i{font-size: 18px;}
				#right .right-shopcar span {background:#e50163 ; width: 20px; height: 20px; border-radius: 50%; display: block; margin-top:10px ;}
		#right a {display: block; color: #FFFFFF; position: relative; padding: 5px 0; cursor: pointer;}
		#right a:nth-child(1)>div{width: 275px;height: 190px; background: #fff; left:-275px; padding: 20px;}
		#right a:nth-child(1)>div img{margin: 10px auto;}
		#right a:nth-child(1)>div div{display: flex; justify-content: space-around;}
		#right a:nth-child(1)>div div span{ display: block; width: 80px; height: 30px; border: 1px solid #E50163; line-height: 30px; color: #666;}
		#right a:nth-child(1)>div div span:nth-child(1){background: #E50163; color: #fff;}
		#right a:nth-child(1)>div div span:nth-child(1):hover{background: #fff; color: #666;}
		#right a:nth-child(1)>div div span:nth-child(2):hover{background: #E50163; color: #fff;}
		#right a:nth-child(2)>div{position: absolute; width: 275px; height:655px; color: #555; background: #eee; display: block; left: -275px; top:-130px; display: none;}
		#right a:nth-child(2)>div .car-top{padding: 0 10px; display: flex; width: 275px; height: 30px; justify-content: space-between;}
		#right #num{line-height:20px; color: #fff;}
		#right a>div{position: absolute; left: -138px; width: 138px; height: 35px; color: #555; top: 0px; background: #FFFccc; text-align: center; line-height: 35px; display: none;}
		#right .i{ font-size: 22px; text-align: center;}
		#right .marg{ margin: 10px 0;}
		#right .right-top{display: flex; flex-direction: column;}
		
		
		#right #car-main{height:550px; overflow: auto;}
		#right #car-main>dl{display: flex; padding: 10px 15px; width: 275px; height:70px ; color: #BBBBBB; text-align: left;}
		#right #car-main>dl>dt{width: 50px; height: 50px; border: 1px solid #999999; padding: 0 6px; margin-right: 10px;}
		#right #car-main>dl>dt>img{width: 36px; height: 48px;}
		#right #car-main>dl>dd{height: 50px;}
		#right #car-main>dl>dd>h4{line-height: 12px; font-size: 12px; width:155px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 100; color: #000;}
		#right #car-main>dl>dd>p{height: 14px; line-height: 14px;font-size: 12px;}
		#right #car-main .money{display: flex; width:60px; height: 18px; line-height: 18px; justify-content: space-between; padding-top: 5px;}
		#right #car-main .money span:nth-child(1){color: #E50163;  background: none; margin: 0; padding: 0;}


		#content{width: 1200px; margin-left: 75px; display: flex; margin-bottom: 20px; position: relative;}
		#content .cont-l{margin-right: 17px; width: 188px; min-height: 300px;}
		#content .cont-l img{margin-bottom: 10px; width: 188px; height: 295px;}
		#content .cont-r{width: 993px;min-height: 500px; border: 1px solid #eee; position: relative; padding-top: 40px;}
		#content .cont-nav{display: flex; height: 40px; background: #eee; position: absolute; left: 0; top: 0; width: 992px;z-index: 999;}
		#content .cont-nav li{width: 150px; text-align: center;line-height: 40px; color: #666; cursor: pointer; font: "宋体"; font-size: 14px; }
		#content .cont-c{ padding: 80px 60px; position: relative;}
		#content .cont-c .one{padding: 0 60px;}
		
