#car{width: 1200px;min-height: 300px; margin: 0 auto; border: 1px solid #ddd; position: relative; padding-bottom: 170px;}
#car .title{height: 40px;; background:#ddd ; }
#car .title dl{display: flex; text-align: center; line-height: 40px; justify-content: space-around;}

#car .car-bottom{height: 170px; position: absolute; bottom: 0; border-top: 1px solid #ddd; width: 100%; display: flex;justify-content: space-between;} 
#car .car-bottom .car-bl{display: flex; margin: 15px; margin-left: 50px;}

#car .car-bottom .car-br{width: 300px; margin-right: 50px; margin-top: 50px;}
#car .car-bottom .car-br p{font-size: 10px; color: #666666; margin-bottom: 40px;}
#car .car-bottom .car-br p span{color: #E50163;}
#car .car-bottom .car-br p b{color: #E50163; font-size: 20px;}
#car .car-bottom .car-br button{border: none; width: 200px; height: 50px; font-size: 22px; text-align: center; line-height: 50px; background: #E50163; color: #fff; margin-left: 40px; }


#car .car-main{padding-top: 15px;min-height: 80px;}

#car .car-main .shop-item{display: flex; font-size: 10px; align-content: center;width: 1200px;height: 70px;}
#car .car-main .shop-item img{margin-left: 20px;}
#car .car-main .shop-item span{height:70px; line-height: 70px;display: block; margin-left: 160px;}
#car .car-main .shop-item p{height: 70px; line-height: 70px;}
#car .car-main .shop-item p span{display: inline-block;width: 30px;height: 30px;border: 1px solid #d1d1d1;line-height: 30px;cursor: pointer; text-align: center; line-height: 30px; margin-left: 0;}
#car .car-main .shop-item p:nth-of-type(1){ margin-left: 100px;}
#car .car-main .shop-item p:nth-of-type(2){margin-left:10px; line-height: 30px;}
#car .car-main .shop-item p:nth-of-type(3){margin-left:70px;}
#car .car-main .shop-item em{margin-left:60px;color: #E50163;}
#car .car-main .shop-item i{margin-left:120px; cursor: pointer;}



#tosy{text-align: center; font-size: 24px; line-height: 60px; color: #666666; width: 1200px;}
#tosy>a{font-size: 30px; color: #E50163; text-decoration: underline;}
